/* Add CSS */
.allAskedBy, .allAnsBy {
    color:blue;
}

.allAskedOn, .allAnsOn {
    color: green;
}

.allAskedAt, .allAnsAt {
    color: teal;
}

body{
    margin: 0;
}

* { padding: 0; margin: 0; }
html, body, #fullheight {
    min-height: 100% !important;
    height: 100%;
}

#root {
    height:100%;
}

