

.flexContainer {

    display: grid;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding-top: 30px; */
    /* padding-bottom: 30px; */
    /* background-color: pink; */
    /* margin-bottom:3px; */
    justify-content: center;
    height:100%;
}

@media (min-width: 980px)
{
    .flexContainer {
        grid-template-columns: 164px 1fr 324px;
    }
}

.flexContainer > div:first-child {
    border-right: 1px solid #d1e5f1;
}
/* .flexContainer > div:last-child {
    border-left: 1px solid rgb(0, 0, 0);
    justify-content: center;
} */

.stick {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    box-sizing: border-box;   
    height:100%;
}

#forms {
    height:100%;
}

#wholePage {
    height:100%;
    max-width: 1264px;
    margin: 0 auto;
}

#hidden {
    display:none;
}

#overflow {
    overflow: hidden;
    height: 100%;
}

.misc {
    width: 100%;
}

#wholeLayOut {
    height: 100%;
}