

.wholeQuestionTable {
    width:100%;
}

.firstCol {
    width: 8%;
}

.secondCol {
    padding-left:1em;
}

.thirdCol {
    float:right;
    padding-top:5%;
}

.questionsTag {
    font-size: 12px;
    padding: 5px 6px;
    border: 1px solid transparent;
    margin: 2px 5px 2px 0;
    line-height: 1;
    white-space: nowrap;
    border-radius: 3px;
    color: #39739d;
    background-color: #e1ecf4;
    display: inline-block;
}

.questionsTag:hover {
    color: #2c5777;
    background-color: #d1e5f1;
    border-color: transparent;
    cursor:pointer;
}

.rowChild {
    /* width: 100%; */
    margin: auto;
    padding: auto;
    /* border: none; */
    border-bottom: solid .5px lightgray;
}

#questionsTitle {
    text-decoration: none;
    color: #07c;
    padding-bottom: 1em;
    cursor:pointer;
}

table { 
    border-collapse: collapse; 
  }

.askBy {
    color: blue;
}

.askOn {
    color: green;
}

.askAt {
    color: teal;
}

#blurredLeftA, #blurredRightA {
    opacity: .5;
    filter: alpha(opacity=50);
    background:none;
    border-color:white;
    display:inline;

}

#blurredLeftA:active, #blurredRightA:active {
    border-style:outset;
    display:inline;
}

#invisible {
    display:none;
}

#votes {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#votes > span {
    font-size: 18px;
}

#votes > div {
    font-size: 12px;

}

#answers {
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

#answers > span {
    font-size: 18px;

}

#answers > div {
    font-size: 12px;

}

#views {
    padding-top: .5em;
    text-align: center;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}