
.welcome {
	background: linear-gradient(-45deg, #74a8dd , #0a7063, #05aa5d );
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#title {
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}


.welcome header
{
    text-align: center;
    font-size:50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
      /* position: absolute; */
      /* transform: translate(-50%,-25%); */
      /* left:50%; */
  
}

.welcome h1 {
    color: orange;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#returningUser {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);

}

#logIn, #signUp, #guest {
    text-decoration: underline;
    cursor: pointer;
    color:#92a737;

}

#newUser {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);


}

#or {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#aa5b5b;
    text-shadow: 0px 0px 6px rgba(255,255,255,0.7);

}

#guest {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#92a737;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);

    cursor: pointer;
}